.markers-filters {
  margin-top: 1rem;
}

.markers-filters p {
  margin-top: var(--sl-spacing-3x-small);
  margin-left: var(--sl-spacing-3x-small);
  color: var(--sl-input-help-text-color);
  font-size: var(--sl-input-help-text-font-size-medium);
}
