span[data-success] {
  margin-left: 1rem;
}

sl-tree-item p sl-badge {
  margin-left: 1rem;
}

p[data-success="false"] sl-tag::part(base) {
  border: 1px solid var(--sl-color-danger-500);
}

span[data-success="true"] {
  color: var(--sl-color-success-500);
}

span[data-success="false"] {
  color: var(--sl-color-danger-500);
}

.command-lines li {
  background-color: var(--sl-color-neutral-50);
  width: 100%;
  max-width: fit-content;
  border-radius: var(--sl-border-radius-large);
  margin-bottom: 1rem;
}
.command-lines code {
  padding: 0.5rem 1rem;
}
.copy-icon {
  cursor: pointer;
  margin: auto auto;
  padding-right: 1rem;
}

.proposal-button {
  margin-bottom: 1rem;
}
