---
// Only header is managed within the astro file.
// Everything else is delegated to the React component <SearchApp>
import { Image } from "astro:assets"
import ShoelaceLayout from "../layouts/ShoelaceLayout.astro"
import SearchApp from "../apps/SearchApp.jsx"
import Logo from "../assets/pytest-discover-logo-transparent.svg"
import LogoDarkMode from "../assets/pytest-discover-logo-darkmode-transparent.svg"
---

<style>
  .logo {
    height: 4em;
    width: 4em;
    margin-top: 1em;
    margin-right: 1em;
  }
</style>
<ShoelaceLayout title="pytest-discover">
  <main>
    <SearchApp client:only="react">
      <Image class="logo only-light" src={Logo} alt="pytest-discover logo" />
      <Image
        class="logo only-dark"
        src={LogoDarkMode}
        alt="pytest-discover logo"
      />
      <h1>pytest-discover</h1>
    </SearchApp>
  </main>
</ShoelaceLayout>
