---
import ShoelaceLayout from "../layouts/ShoelaceLayout.astro"
import TestSearch from "../components/TestSearch.jsx"
---

<style>
  header,
  main {
    margin: auto;
    width: 1024px;
    max-width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  main {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
  }
</style>

<ShoelaceLayout title="pytest-discover">
  <header>
    <h1>pytest-discover</h1>
  </header>
  <main>
    <TestSearch client:only="react" />
  </main>
</ShoelaceLayout>
