.main-container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 1024px;
  max-width: calc(100% - 2rem);
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.main-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.main-container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.main-container header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
}

.main-container header h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
