.markers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
}

.marker {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.marker sl-icon {
  margin-right: 0.25rem;
}
