.filename h2 {
  display: inline-block;
  margin-right: 1rem;
}

span[data-success] {
  margin-left: 1rem;
}

sl-tree-item p sl-badge {
  margin-left: 1rem;
}

p[data-success="false"] sl-tag::part(base) {
  border: 1px solid var(--sl-color-danger-500);
}

span[data-success="true"] {
  color: var(--sl-color-success-500);
}

span[data-success="false"] {
  color: var(--sl-color-danger-500);
}
