.opener {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
#file-upload {
  display: none;
}
sl-drawer::part(header) {
  display: none;
}
.report-meta {
  display: inline-block;
  height: 2rem;
  border-width: 0;
  margin: 0 0;
  border-radius: 0;
  box-shadow: none;
}

.report-meta sl-icon {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.report-meta sl-icon[name="info-circle"] {
  margin-bottom: -2px;
}

.report-meta[data-state="error"] {
  background-color: var(--sl-color-danger-300);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

html.sl-theme-dark .report-meta[data-state="error"] {
  background-color: var(--sl-color-danger-100);
}

.report-meta[data-state="warning"] {
  background-color: var(--sl-color-warning-300);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

html.sl-theme-dark .report-meta[data-state="warning"] {
  background-color: var(--sl-color-warning-100);
}

.report-meta span {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.report-filename[data-missing="true"] span {
  margin-left: 0.5rem;
}

.report-filename {
  cursor: pointer;
  background-color: var(--sl-color-primary-200);
}

.report-footer-container {
  position: fixed;
  z-index: 500;
  padding-bottom: 0;
  padding-top: 0;
  bottom: 0;
  display: flex;
  justify-content: start;
  width: 100%;
  background-color: var(--sl-color-neutral-200);
}

html.sl-theme-dark .report-footer-container {
  background-color: var(--sl-color-neutral-100);
}

.drawer-header {
  display: flex;
  width: 100%;
}

.drawer-exit {
  margin-left: auto;
  margin-right: 1rem;
}

.control-button {
  margin-left: 0.5rem;
  align-self: center;
}

sl-button.hover-danger-button::part(base):hover {
  color: var(--sl-color-neutral-800);
  border-color: var(--sl-color-neutral-400);
  background-color: var(--sl-color-danger-100);
  box-shadow: var(--shadow-lg);
}

.command-lines li {
  display: flex;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.usage-proposals {
  display: grid;
  margin: auto;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(48ch, 2fr));
  gap: var(--sl-spacing-x-large);
  padding: 0;
}

.proposal {
  display: flex;
  border: 1px solid var(--sl-color-neutral-300);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
