#file-upload {
  display: none;
}

.upload-button {
  margin-right: 1rem;
}

.close-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

sl-button.hover-danger-button::part(base):hover {
  color: var(--sl-color-neutral-800);
  border-color: var(--sl-color-neutral-400);
  background-color: var(--sl-color-danger-100);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
