.left-sidebar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: stretch;
  background-color: var(--sl-color-neutral-100);
  width: 60px;
}

.left-sidebar-buttons {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.left-sidebar-buttons::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.left-sidebar-extension {
  display: none;
  width: fit-content;
  max-width: 100%;
  overflow: scroll;
  margin-bottom: 2rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  margin-top: 4rem;
  transition: width 0.3s;
}

.left-sidebar-extension::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.left-sidebar-extension[data-open="true"] {
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--sl-color-neutral-600);
  transition: color 0.15s ease;
}
