#file-upload {
  display: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: var(--sl-spacing-x-large);
  padding: 0;
}

.card-grid :global(h2) {
  margin-top: 0;
}

.card-grid :global(small) {
  font-size: var(--sl-font-size-medium-smaller);
  font-weight: normal;
}

.tags-selection {
  margin-top: 1rem;
}

.floating-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 1rem;
}

.close-focused-item {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  margin-left: "auto";
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.tags-selection p {
  margin-top: var(--sl-spacing-3x-small);
  margin-left: var(--sl-spacing-3x-small);
  color: var(--sl-input-help-text-color);
  font-size: var(--sl-input-help-text-font-size-medium);
}

.tags-selection sl-tag {
  cursor: pointer;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
}
