ul {
  padding-left: 0rem;
}
ul li {
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

table ul {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

sl-tag {
  cursor: pointer;
}

sl-tag sl-icon {
  padding-right: 0.25rem;
}
