name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

runs-on: ubuntu-latest
strategy:
  matrix:
    python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

jobs:
  check-format:
    name: Check format
    steps:
      - name: Environment setup
        uses: ./.github/actions/env-setup

      - name: Run validation
        run: just check-format

  check-code:
    name: Check code
    steps:
      - name: Environment setup
        uses: ./.github/actions/env-setup

      - name: Run validation
        run: just check-code

  check-type:
    name: Check types
    steps:
      - name: Environment setup
        uses: ./.github/actions/env-setup

      - name: Run validation
        run: just check-types

  check-schemas:
    name: Check schemas
    steps:
      - name: Environment setup
        uses: ./.github/actions/env-setup

      - name: Run validation
        run: just check-schemas

  run-tests:
    name: Run tests
    steps:
      - name: Environment setup
        uses: ./.github/actions/env-setup

      - name: Run tests
        run: just test
