name: GitHub Pages Documentation

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-[a-zA-Z]*'
      - 'v[0-9]+.[0-9]+.[0-9]'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Configure git user
        run: |
          git config user.name mkdocs-bot
          git config user.email mkdocs-bot@github.com
          git fetch origin gh-pages --depth=1

      - name: Environment setup
        uses: gcharbonnier/pytest-broadcaster/.github/actions/env-setup

      - name: Build the docs
        run: just docs
        env:
          VERSION: "${{  github.ref_name }}"
          ALIAS: latest
